[submodule "docs"]
	path = docs
	url = https://github.com/Glenda-dev/Glenda-Docs.git
[submodule "service/9ball"]
	path = service/nineball
	url = https://github.com/Glenda-dev/9ball.git
[submodule "lib/libglenda-rs"]
	path = lib/libglenda-rs
	url = https://github.com/Glenda-dev/libglenda-rs.git
[submodule "service/unicorn"]
	path = service/unicorn
	url = https://github.com/Glenda-dev/unicorn.git
[submodule "drivers"]
	path = drivers
	url = https://github.com/Glenda-dev/Glenda-drivers.git
[submodule "examples/dosbox"]
	path = examples/dosbox
	url = https://github.com/Glenda-dev/dosbox-glenda.git
[submodule "lib/musl-glenda"]
	path = lib/musl-glenda
	url = https://github.com/Glenda-dev/musl-glenda.git
[submodule "lib/libglenda"]
	path = lib/libglenda
	url = https://github.com/Glenda-dev/libglenda.git
[submodule "lib/libape"]
	path = lib/libape
	url = https://github.com/Glenda-dev/libape.git
[submodule "service/ape"]
	path = service/ape
	url = https://github.com/Glenda-dev/APE.git
[submodule "service/warren"]
	path = service/warren
	url = https://github.com/Glenda-dev/warren.git
