[submodule "docs"]
	path = docs
	url = https://github.com/Glenda-dev/Glenda-Docs.git
[submodule "service/9ball"]
	path = service/9ball
	url = https://github.com/Glenda-dev/9ball.git
[submodule "lib/libglenda-rs"]
	path = lib/libglenda-rs
	url = https://github.com/Glenda-dev/libglenda-rs.git
